<!doctype html>
<html lang="en">
{{>head}}
  <body class="bg3">
    {{>header}}
    {{>menu}}
    <!-- {{>jumbotron}} -->
    {{>recent}}
    {{>books}}
    <main role="main" class="container bg2 rounded shadow p-5">
      <div class="row">
        {{>articles}}
        {{>sidebar}}
      </div>
    </main>
    {{>footer}}
    </body>
</html>
